<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New task</title>
</head>
<body>
<div>
    New task creation<br>
    <form action="/tasks/new" method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div>
            <label>Description</label>
            <input type="text" name="description" placeholder="Descriprion">
        </div>
        <div>
            <label>Salary</label>
            <input type="text" name="salary" placeholder="Salary">
        </div>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>